# Результати збірки та тимчасові файли
build/                      # Ігнорую папку з готовими бінарними файлами
cmake-build-debug/          # Прибираю службові папки CLion
cmake_install.cmake         # Видаляю тимчасові конфіги CMake
CMakeCache.txt              # Ховаю кеш налаштувань збірки
CMakeFiles/                 # Ігнорую внутрішні логі компіляції

# Системні файли збірки та мейкфайли
Makefile                    # Не додаю автоматично згенеровані мейкфайли
*.cmake                     # Ігнорую допоміжні скрипти CMake

# Виконувані файли та бібліотеки
*.exe                       # Прибираю запускні файли Windows
*.out                       # Ігнорую бінарники Linux
*.app                       # Ховаю додатки macOS
*.o                         # Видаляю об'єктні файли (проміжний етап збірки)
*.a                         # Ігнорую статичні бібліотеки
*.so                        # Прибираю динамічні бібліотеки
*.dylib                     # Ховаю специфічні бібліотеки Apple
*.dll                       # Ігнорую динамічні бібліотеки Windows

# Налаштування середовищ розробки (IDE)
.vscode/                    # Прибираю конфіги Visual Studio Code
.idea/                      # Ховаю налаштування проектів JetBrains (CLion)

# Тимчасові та системні файли ОС
*.swp                       # Ігнорую тимчасові файли редакторів
*.swo                       # Прибираю файли відновлення
*~                          # Видаляю копії файлів
.DS_Store                   # Ховаю системні логі macOS
Thumbs.db                   # Ігнорую кеш зображень Windows